<a href="/">
  <h1>Space FaX</h1>
</a>
<nav>
  <ul>
    <li><a href="/favorites">Favorite Images</a></li>
    <li><a href="placeholderAboutUs">About The Crew</a></li>
    <li>Example Text</li>
  </ul>
</nav>
<div class="clock_box">ZULU / UTC<br>
  <p class="status-info" id='zd'></p>
  <p class="status-info" id='zt'></p>
</div>