<nav>
  <a href="/">
    <h1>Space FaX</h1>
  </a>
  <ul>
    <!-- <li><a href="/">
        <h1>Space FaX</h1>
      </a></li> -->
    <li><a herf="placeholderRoute">Favorite Images</a></li>
    <li><a href="PlaceholderAboutUs">About The Crew</a></li>
    <!-- <li id='ct'></li> -->
  </ul>
  <div class="clock_box"><span style="font-family: 'Orbitron', sans-serif;" id='ct'></span></div>
</nav>