<div class="logo_box"><a href="/">
    <h1 class="logo_text">Space FaX</h1>
    <img class="logo_img" src="../images/space-logo4.png">
  </a></div>

<nav>
  <ul>
    <a href="/favorites">
      <li>Favorite Images</li>
    </a>
    <a href="/about-us">
      <li>About The Crew</li>
    </a>
  </ul>
</nav>
<div class="clock_box">ZULU / UTC<br>
  <p class="status-info" id='zd'></p>
  <p class="status-info" id='zt'></p>
</div>