<nav>
  <ul>
    <li><a href="/">
        <h1>Space FaX</h1>
      </a></li>
    <li><a herf="placeholderRoute">Favorite Images</a></li>
    <li><a href="PlaceholderAboutUs">About The Crew</a></li>
  </ul>
</nav>