<!DOCTYPE html>
<html>
  <head><%- include('./partials/head') %></head>

<body class="about-us">
  <header>
    <%- include('./partials/header') %>
  </header>
  <main class="aboutus-main">
    <div class="personalSection">
      <h2 class="h2aboutus">Alex Angelico</h2>
      <h5>Favorite Space Related Search:</h5>
      <p class="favorite-space">"Neptune and I go way back"</p>
      <img class="photo" src="../images/Alex.jpg">
      <div class="classlinks">
        <a class="classlinks" href="https://www.linkedin.com/in/alexangelico/">LinkedIn</a>
        <a class="classlinks" href="https://github.com/Alex-Angelico">Github</a>
      </div>
    </div>

    <div class="personalSection">
      <h2 class="h2aboutus">Jordan Kidwell</h2>
      <h5>Favorite Space Related Search:</h5>
      <p class="favorite-space">"Either the Medusa Nebula or Pismis 24-1, take a look if you haven't already!</p>
      <img class="photo" src="../images/Jordan.JPG">
      <div class="classlinks">
        <a class="classlinks" href="https://www.linkedin.com/in/jordan-kidwell/">LinkedIn</a>
        <a class="classlinks" href="https://github.com/jordanlynk">Github</a>
      </div>
    </div>

    <div class="personalSection">
      <h2 class="h2aboutus">Ricardo Barcenas</h2>
      <h5>Favorite Space Related Search:</h5>
      <p class="favorite-space">"Black Hole"</p>
      <img class="photo" src="../images/Ricardo.jpg">
      <div class="classlinks">
        <a class="classlinks" href="https://www.linkedin.com/in/ricardo-barcenas/">LinkedIn</a>
        <a class="classlinks" href="https://github.com/ZenAtomsk">Github</a>
      </div>
    </div>

    <div class="personalSection">
      <h2 class="h2aboutus">Audrena Vacirca</h2>
      <h5>Favorite Space Related Search:</h5>
      <p class="favorite-space">"The Andromeda Galaxy, our best bet for life beyond us!"</p>
      <img class="photo" src="../images/Audrena.jpg">
      <div class="classlinks">
        <a class="classlinks" href="https://www.linkedin.com/in/audrenavacirca/">LinkedIn</a>
        <a class="classlinks" href="https://github.com/NyxofDarkness">Github</a>
      </div>
    </div>




  </main>
  <footer>
    <%- include('./partials/footer') %>
  </footer>
</body>

</html>