@import "reset.css";
@import "layout.css";

/* @font-face{
  font-family:'digital-7';
  src: url('https://www.1001fonts.com/digital-7-font.html');
 } */
* {
  justify-content: center;
  align-content: center;
}

body {
  background-color: #262626;
  width: 90vw;
  margin: 20px auto;
}

header {
  height: 60px;
  color: whitesmoke;
  margin: auto;
  width: 60vw;
}

nav {
  display: flex;
  justify-content: space-around;

}

ul {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: auto;
}

nav li {
  margin: auto;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 10px 10px 0px 0px;
  font-family: 'Press Start 2P', cursive;
}

nav li:hover {
  transition: 500;
  background-color: white;
  box-shadow: 0 0 10px white;
}

a:link {
  font-size: 10px;
  text-decoration: none;
  color: rgb(46, 80, 82);
}

.clock_box {
  width: 200px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-top: 22px;
  font-size: 12px;
}

header > .clock_box {
justify-self: right;
}

.status-info {
  font-family: digital-7;
  text-shadow: 0px 0px 25px rgb(173, 172, 235);
  color: white;
}

.daily_content {
  display: flex;
  flex-direction: row;
  padding-top: 2em;
  padding-bottom: 2em;
  border: 2px solid white;
  border-radius: 35px;
  width: 60vw;
  height: auto;
  margin: auto;
  justify-content: center;
  align-content: center;
  background-color: white;
}

.daily_img {
  width: 25vw;
  height:400px;
  border-radius: 10px;
  margin-right: 20px;
}

section.text_container {
  font-family: 'Roboto', sans-serif;
  width: 25vw;
  height: 400px;
  margin-left: 20px;
}

.imgContainer {
  width: 32vw;
  height: 40px;
  margin: 3em auto;
  padding: 1em;
  /* text-align: center; */
  flex-direction: column;
  /* align-items: space-between;  */
  font-family: 'Roboto', sans-serif; 
  border-radius: 10px;
  background-color: white;
  justify-items: space-between;
  
}
h1 {
  color: cadetblue;
  font-family: 'Press Start 2P', cursive;
  font-size: x-large;
}
h2{
  font-size: 2em;
  margin-bottom: 10px;
}
article {
 max-height: 300px;
 text-align: justify;
 overflow-y: scroll;
}

article::-webkit-scrollbar{
  display: none;
}

.searchImage{
  height: 25px;
  /* opacity: 0.6; */
  /* transition: 0.3s; */
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
}

.search-image-input{
  
  grid-column: 1;
}

.search-image-button{
  
  grid-column: 2;
}

.rocketSearch {
  height: 40px;
  border-radius: 10px;
  background-color: gray;

}

.rocketSearch {
  color: black;
}

.searchImageParent {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px 15px;
  
}

.searchImageContainer {
  max-width: 250px;
  align-content: center;
  position: relative;
  height: 400px;
}

.searchImageContainer button {
  position: absolute;
  bottom: 10%;
  left: 15%;
  
}

.searchImage {
  height: 40px;
  padding-bottom: .5em;
  overflow: hidden;
  
}

button {
  border-radius: 10px;
  background-color: gray;
}

button:hover{
  transition: 1s;
  background: pink;
  color: cornflowerblue;
  
}