/* this is favorites gallery css */

.favorite_parent{
  padding-top: 20px;
  display: grid;
  grid-template-columns: 14vw 14vw 14vw 14vw;
  gap: 20px 1vw;
  
}

.fav_images{
  height: 300px;
  position: relative;
  display: grid;
  grid-template-columns: auto;
}

.saved_images{
  padding-bottom: 0.5em;
  width: 100%;
  max-height: 200px;
  border-radius: 10px;
}

.fav_title{
  padding-bottom: 0.5em;
  height: 30px;
  color: white;
  font-size: 0.8em;
  text-align: center;
}

.remove_from_favorites{
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 0%;
}

/* this is for search results css */

.addImageParent{
  padding-top: 20px;
  display: grid;
  grid-template-columns: 14vw 14vw 14vw 14vw;
  gap: 20px 1vw;
  
}

.addImageContainer{
  height: 300px;
  position: relative;
  display: grid;
  grid-template-columns: auto;
}

.addImage{
  padding-bottom: 0.5em;
  width: 100%;
  max-height: 200px;
  border-radius: 10px;
}

.image_title{
  padding-bottom: 0.5em;
  height: 30px;
  color: white;
  font-size: 0.8em;
  text-align: center;
  overflow: hidden;
}

.add_to_favorites{
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 0%;

}

/* this is for tracked launch results */

.launch-tracker-title{
  margin-bottom: 5px;
  margin-top: 5px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  width: 60vw;
  background: white;
  border-radius: 10px;
}

.tracker-title{
  align-self: center;
  justify-self: center;
  font-size: 2em;
  font-family: 'Goldman', cursive;
}

.rocketSearch{
  align-self: center;
  justify-self: center;
}

.tracked-launches {
  width: 60vw;
  display: grid;
  grid-template-columns: auto;
  padding-top: 10px;
  max-height: 680px;
  overflow-y: scroll;
}

.tracked-launch {
  max-width: 60vw;
  margin-bottom: 20px;
  color: white;
  border-radius: 10px;
  text-align: justify;
  padding: 1em;
  display: grid;
  grid-template-columns: 100px auto auto;
  grid-template-rows: auto auto auto auto auto;
  gap: 15px 10px;
  justify-content: stretch; 
  font-family: 'Roboto', sans-serif;
  background-color: #5e5e5e;
}

.provider-label{
  grid-column: 1;
  grid-row: 1;
}

.mission-label{
  grid-column: 1;
  grid-row: 2;
}

.description-label{
  grid-column: 1;
  grid-row: 3;
}

.orbital-label{
  grid-column: 1;
  grid-row: 4;
}

.vehicle-label{
  grid-column: 1;
  grid-row: 5;
}

.launchprovider-info{
  grid-column: 2;
  grid-row: 1;
}

.missionname-info{
  grid-column: 2;
  grid-row: 2;
}

.missiondescription-info{
  grid-column: 2;
  grid-row: 3;
}

.orbit-info{
  grid-column: 2;
  grid-row: 4;
}

.rocketname-info{
  grid-column: 2;
  grid-row: 5;
}

.status-info {
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px 25px rgb(173, 172, 235);
  color: white;
  grid-column: 3;
  grid-row: 1 / 3;
  text-align: right;
}

.remove_from_tracker {
  grid-column: 3;
  grid-row: 5;
  justify-self: end;
}

/* Launch results  */

.search_launch_parent{
  padding-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px 1vw;
  max-width: 60vw;
  
}

.search_launch_container{
  height: 12.5em;
  position: relative;
  display: grid;
  grid-template-columns: 23% 77%;
  grid-template-rows: max-content max-content auto max-content;
  gap: .5vw;
  font-family: 'Roboto', sans-serif;
  
}

.search_provider-label{
  grid-column: 1;
  grid-row: 1;
  color: white;
}

.search_mission-label{
  grid-column: 1;
  grid-row: 2;
  color: white;
}

.search_launch_provider{
  grid-column: 2;
  grid-row: 1;
  color: white;
}

.search_launch_mission_name{
  grid-column: 2;
  grid-row: 2;
  overflow-y: scroll;
  color: white;
}

.search_date_info{
  grid-column: 1 / 3;
  grid-row: 3;
  justify-self: center;
  align-self: center;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px 25px rgb(173, 172, 235);
  color: white;
}

.search_launch_mission_name::-webkit-scrollbar{
  display: none;
}

.search_launch_status{
  grid-column: 1 / 3;
  grid-row: 4;
  justify-self: center;
  align-self: center;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px 25px rgb(173, 172, 235);
  color: white;
}

.search_track_launch{
  position: absolute;
  width: 100%;
  bottom: 0%;
  left: 0%;
}

/* this is for about us page */

.photo {
  width: 200px;
  border-radius: 30px;
  padding: 10px;
}

.about-us {
  text-align: center;
}

.classlinks {
  font-size: 1em;
  background-color: transparent;
  text-decoration: none;
  font-family: 'Goldman', cursive;
  padding: 10px;
  color:  cadetblue;
}

.classlinks:link {
  font-size: 1em;
  padding: 10px;
}

h5 {
  font-family: 'Goldman', cursive;
  font-size: 15px;
  color: white;
}

.h2aboutus {
  font-size: x-large;
  font-family: 'Goldman', cursive;
  color: white;
  text-shadow: 0px 0px 25px rgb(173, 172, 235);
}

.favorite-space {
  color: white;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

.personalSection {
  padding: 25px;
}

